<%= flash %>
<div>hello</div>
<%= flash[0] %>
<%= %>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= key %>
    <%= value %>
  </div>
<% end %>

<section class="products-index">

  <header class="page-header">
    <h1>Products</h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

</section>
