<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Average Rating</dt>
          <dd><%= @product.average_rating %>/5</dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>

        </dl>
      </div>
    </div>

    <% if current_user.present? %>
      <h2>Reviews</h2>
      <%= render 'products/flash' %>
      <h3>Write a Review</h3>
      <div class="row">
        <div class="col-sm-10">
          <%= form_for [@product, @product.reviews.new], url: product_reviews_path(@product) do |form| %>

            <div class="form-group" >
              <%= form.label :description %>
              <%= form.text_area :description, class: 'form-control', placeholder: '(Optional)' %>
            </div>

            <div class="form-group">
              <%= form.label :rating %>
              <%= form.select :rating, (1..5), { include_blank: true }, class: 'form-control' %>
            </div>

            <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    <% end %>

    <br/>

    <div class="row">
      <h3>Past Reviews</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>User</th>
            <th>Description</th>
            <th>Rating</th>
            <% if current_user.present? && @product.reviews.find_by(user_id: current_user[:id]).present? %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @reviews = Product.find(@product).reviews.order('created_at DESC') %>
            <%= render @reviews %>
        </tbody>
      </table>

  </article>

</section>
