<%= render 'flash' %>

<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Average Rating</dt>
          <dd><%= @product.average_rating %>/5</dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>

        </dl>
      </div>
    </div>

    <h2>Reviews</h2>
    <h3>Write a Review</h3>
    <div class="row">
      <div class="col-sm-10">
        <%= form_for [@product, @review], url: product_reviews_path(@product) do |form| %>

          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :rating %>
            <%= form.select :rating, (1..5), { include_blank: true }, class: 'form-control' %>
          </div>

          <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>

    <br/>

    <div class="row">
      <h3>Past Reviews</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>User</th>
            <th>Description</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @product.reviews.each do |review| %>
            <tr>
              <td>
                <%= review.user.first_name %> <%= review.user.last_name %>
              </td>
              <td>
                <%= review.description %>
              </td>
              <td>
                <%= review.rating %>/5
              </td>
              <td>
                <% if current_user.present? %>
                  <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

  </article>

</section>
